
<div class="container-fluid">
  <app-navbar></app-navbar>

  <!-- Breadcrumb Start -->
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" routerLink="">Home</a>
        <a class="breadcrumb-item text-dark" routerLink="">Boutique</a>
      </nav>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <div class="container-fluid " >
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Boutique</span></h2>
    <div class="row px-xl-5" >
      <div class="col-lg-6 mb-5" >
        <div class="contact-form bg-light p-30" style="color: #212529" >
          <div id="success">
            <h2>Ajouter une nouvelle boutique</h2>
            <form #formBoutique="ngForm" (ngSubmit)="addboutique(formBoutique)" class="form-group row">
              <div class="col-12 d-flex justify-content-center"> <!-- Ligne pour les champs d'entrée -->
                <div class="col-3 mx-auto">
                  <label for="nom" class="form-label">Nom du boutique</label>
                  <div class="input-group">
                    <input type="text" id="nom" ngModel name="nom" required minlength="3" pattern="[a-zA-Z]*" #nom="ngModel" class="form-control bg-white dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="Nom du centre" style="height: 40px; font-size: 12px;">
                  </div>
                </div>
                <div class="col-3 mx-auto">
                  <label for="adresse" class="form-label">Adresse du boutique</label>
                  <div class="input-group">
                    <input type="text"  id="adresse" ngModel name="adresse" required minlength="3" pattern="[a-zA-Z]*" #adresse="ngModel" class="form-control bg-white dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="Adresse" style="height: 40px; font-size: 12px;">
                  </div>
                </div>
                <div class="col-3 mx-auto">
                  <label for="idCentre" class="form-label">Centre</label>
                  <div class="input-group">
                    <input type="text"  id="idCentre" ngModel name="idCentre" required minlength="3" pattern="[a-zA-Z]*" #idCentre="ngModel" class="form-control bg-white dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="Centre" style="height: 40px; font-size: 12px;">
                  </div>
                </div>
              </div>
              <div class="col-12 d-flex justify-content-center mt-3"> <!-- Ligne pour le bouton avec un espace vertical (mt-3) -->
                <div class="col-6">
                  <button type="submit" class="btn bg-primary text-white"><strong>Ajouter</strong></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-8">
        <div class="bg-light p-30 mb-30">
          <h2>Liste des Boutiques</h2>


          <table class="table-bordered">
            <thead>
            <tr style="color: #212529;">
              <th>id Boutique</th>
              <th>nom boutique</th>
              <th>Adresse</th>
              <th>idCentre</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let boutique  of listboutique">
              <td>{{boutique.idBoutique}}</td>
              <td>{{boutique.nom}}</td>
              <td>{{boutique.adresse}}</td>
              <td>{{boutique.idCentre}}</td>
              <td style="width: 10%;">
                <a   [routerLink]="['/admin/updatecentre',boutique.idBoutique]"class="table-link text-primary" >
            <span class="fa-stack" >
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
            </span>
                </a>
                <a  class="table-link text-danger">
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
                </a>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
