<!--&lt;!&ndash; Page Wrapper &ndash;&gt;-->
<!--<div id="wrapper">-->

<!--  &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--  <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">-->

<!--    &lt;!&ndash; Sidebar - Brand &ndash;&gt;-->
<!--    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">-->
<!--      <div class="sidebar-brand-icon rotate-n-15">-->
<!--      </div>-->
<!--      <div class="sidebar-brand-text mx-3" id="TitreSideBar">SGC</div>-->
<!--    </a>-->

<!--    &lt;!&ndash; Divider &ndash;&gt;-->
<!--    <hr class="sidebar-divider my-0">-->

<!--    &lt;!&ndash; Nav Item - Dashboard &ndash;&gt;-->

<!--    &lt;!&ndash; Divider &ndash;&gt;-->
<!--    <hr class="sidebar-divider">-->

<!--    &lt;!&ndash; Heading &ndash;&gt;-->
<!--    <div class="sidebar-heading">-->
<!--      Interface-->
<!--    </div>-->

<!--    <li class="nav-item active">-->
<!--      <a routerLink="/listcentre" class="nav-link" >-->
<!--        <span>Gestion Centre Commercial</span></a>-->
<!--    </li>-->

<!--    <li class="nav-item active">-->
<!--      <a routerLink="/boutique" class="nav-link"  >-->
<!--        <span>Gestion Boutique</span></a>-->
<!--    </li>-->

<!--    <li class="nav-item active">-->
<!--      <a class="nav-link" >-->
<!--        <span>Gestion Produit</span></a>-->
<!--    </li>-->


<!--    <li class="nav-item active">-->
<!--      <a class="nav-link" >-->
<!--        <span>Gestion employés</span></a>-->
<!--    </li>-->







<!--    &lt;!&ndash; Divider &ndash;&gt;-->
<!--    <hr class="sidebar-divider">-->

<!--  </ul>-->
<!--  &lt;!&ndash; End of Sidebar &ndash;&gt;-->

<!--  &lt;!&ndash; Content Wrapper &ndash;&gt;-->
<!--  <div id="content-wrapper" class="d-flex flex-column">-->

<!--    &lt;!&ndash; Main Content &ndash;&gt;-->
<!--    <div id="content">-->

<!--      &lt;!&ndash; Topbar &ndash;&gt;-->
<!--      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">-->

<!--        &lt;!&ndash; Sidebar Toggle (Topbar) &ndash;&gt;-->
<!--        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">-->
<!--          <i class="fa fa-bars"></i>-->
<!--        </button>-->

<!--        &lt;!&ndash; Topbar Navbar &ndash;&gt;-->
<!--        <ul class="navbar-nav ml-auto">-->

<!--          &lt;!&ndash; Nav Item - Search Dropdown (Visible Only XS) &ndash;&gt;-->
<!--          <li class="nav-item dropdown no-arrow d-sm-none">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"-->
<!--               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--              <i class="fas fa-search fa-fw"></i>-->
<!--            </a>-->
<!--            &lt;!&ndash; Dropdown - Messages &ndash;&gt;-->
<!--            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated&#45;&#45;grow-in"-->
<!--                 aria-labelledby="searchDropdown">-->
<!--              <form class="form-inline mr-auto w-100 navbar-search">-->
<!--                <div class="input-group">-->
<!--                  <input type="text" class="form-control bg-light border-0 small"-->
<!--                         placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">-->
<!--                  <div class="input-group-append">-->
<!--                    <button class="btn btn-primary" type="button">-->
<!--                      <i class="fas fa-search fa-sm"></i>-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </form>-->
<!--            </div>-->
<!--          </li>-->





<!--          <div class="topbar-divider d-none d-sm-block"></div>-->

<!--          &lt;!&ndash; Nav Item - User Information &ndash;&gt;-->
<!--          <li class="nav-item dropdown no-arrow">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"-->
<!--               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Administrateur</span>-->
<!--            </a>-->
<!--            &lt;!&ndash; Dropdown - User Information &ndash;&gt;-->
<!--            <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
<!--                 aria-labelledby="userDropdown">-->
<!--              <a class="dropdown-item" href="#">-->
<!--                Profile-->
<!--              </a>-->
<!--              <div class="dropdown-divider"></div>-->
<!--              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">-->
<!--                Logout-->
<!--              </a>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </nav>-->
<!--      &lt;!&ndash; End of Topbar &ndash;&gt;-->

<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--    &lt;!&ndash; End of Main Content &ndash;&gt;-->

<!--    &lt;!&ndash; Footer &ndash;&gt;-->
<!--    <footer class="sticky-footer bg-white">-->
<!--      <div class="container my-auto">-->
<!--        <div class="copyright text-center my-auto">-->
<!--          <span>Copyright &copy; Your Website 2023</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </footer>-->
<!--    &lt;!&ndash; End of Footer &ndash;&gt;-->

<!--  </div>-->
<!--  &lt;!&ndash; End of Content Wrapper &ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash; End of Page Wrapper &ndash;&gt;-->

<!--&lt;!&ndash; Scroll to Top Button&ndash;&gt;-->
<!--<a class="scroll-to-top rounded" href="#page-top">-->
<!--  <i class="fas fa-angle-up"></i>-->
<!--</a>-->

<!--&lt;!&ndash; Logout Modal&ndash;&gt;-->
<!--<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>-->
<!--        <button class="close" type="button" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">×</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>-->
<!--      <div class="modal-footer">-->
<!--        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>-->
<!--        <a class="btn btn-primary" href="login.html">Logout</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
