<!-- Topbar Start -->
<div class="container-fluid">
</div>
<div>
  <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
    <div class="col-lg-4">
      <div style="display: inline-block;; vertical-align: top;">

      </div>
      <div style="display: inline-block; vertical-align: top;">
        <a href="" class="text-decoration-none">
          <span class="h1 text-uppercase text-primary bg-dark px-2">E-</span>
          <span class="h1 text-uppercase text-dark bg-secondary px-2 ml-n1">Commerce</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid bg-dark mb-30">
  <div class="row px-xl-5">
    <div class="col-lg-9">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
        <a href="" class="text-decoration-none d-block d-lg-none">
          <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
          <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto py-0">
            <a routerLink="" class="nav-item nav-link" >Home</a>

            <a routerLink="/centre" class="nav-item nav-link">Centre_Commercial</a>
            <a routerLink="/boutique" class="nav-item nav-link">Boutique</a>
            <a routerLink="/orgs" class="nav-item nav-link">Produit</a>


                        <a routerLink="/Forum" class="nav-item nav-link ">Service</a>
                        <a routerLink="/Claim" class="nav-item nav-link ">Cantact</a>
            <a routerLink="/Forum" class="nav-item nav-link ">Our Shop</a>
            <a routerLink="/Claim" class="nav-item nav-link ">Checkout</a>


<!--            <a routerLink="/Forum" class="nav-item nav-link ">Forum</a>-->
<!--            <a routerLink="/Claim" class="nav-item nav-link ">Order</a>-->



            <a routerLink="/post" class="nav-item nav-link">Employees</a>

          </div>
          <div class="ms-auto">
            <!-- Add your "Sign In" button here -->
            <button routerLink="/signin" class="btn btn-primary">Sign In</button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<!--&lt;!&ndash; Navbar End &ndash;&gt;-->
<!-- Navbar Start -->
<!-- Navbar Start -->
<!-- Navbar Start -->
<!--<div class="container-fluid bg-dark mb-30">-->
<!--  <div class="row px-xl-5">-->
<!--    <div class="col-lg-9">-->
<!--      <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">-->
<!--        &lt;!&ndash; ... (rest of your existing code) ... &ndash;&gt;-->

<!--        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">-->
<!--          <div class="navbar-nav mr-auto py-0">-->
<!--            &lt;!&ndash; ... (existing navigation links) ... &ndash;&gt;-->
<!--          </div>-->

<!--          &lt;!&ndash; Use "ms-auto" to align the "Sign In" button to the right &ndash;&gt;-->
<!--          <div class="ms-auto">-->
<!--            &lt;!&ndash; Add your "Sign In" button here &ndash;&gt;-->
<!--            <button class="btn btn-primary">Sign In</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
